
.movies{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
}

/* CARDS */
.card {
    margin: 1%;
    width: 18%;
    height: auto;
    aspect-ratio: 3/4;
    border-radius: 16px;
    padding: 9px;
    box-shadow: white 0 5px 20px -5px;
    background-image: linear-gradient(144deg, darkred, black);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}
  
.card_content{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
}

.card_content *{
    color: var(--cream)
}

.card_content img{
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px;
}

.card-text{
    position: absolute;
    top: 0%;
    left: 00%;
    background: radial-gradient(black, rgba(214, 214, 214, 0) 86%);
    padding: 1rem;
    border-radius: 15px;
}

.card-p{
    font-size: 1.6rem;
    font-weight: 600;
}

.card:hover{
    box-shadow: 2px 2px 3px var(--bluenavy)
}

#artists {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 1.4rem;
    font-size: 1.6rem;
    font-weight: 600;
}