<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/artists.css">
    <title>SIW Movie - Artists Page</title>
</head>
<body>
    <nav>
        <h1><a href="/" id="siw-nav-title">SIWMOVIE</a></h1>
        <h2>Artist</h2>
        <a th:if="${userDetails}" href="/logout" class="log">LOG OUT</a>
        <a th:unless="${userDetails}" href="/login" class="log">ACCEDI</a>
    </nav>

    <div id="movies"><a href="/movies">Vedi Film</a></div>
    <div class="artists">
        <a class="card" th:each="artist : ${artists}" th:href="@{'/artist/' + ${artist.id}}" >
            <div class="card_content">
                <img th:src="@{'data:image/*;base64,' + ${artist.getProfilePicture.base64Image}}" alt="artist picture">
                <div class="card-text">
                    <div class="card-p" th:text="${artist.name +' '+ artist.surname}"></div>
                </div>
            </div>
        </a>
    </div>

</body>
</html>